<!-- Placeholder for Graph Heuristics submenu -->
<nav class="submenu">
  <strong>Graph Heuristics</strong>
  <ul>
    <li><a href="{{ site.baseurl }}/CSA/data_structures/graph-heuristics/2025-05-22-graph-heuristics-intro">Intro</a></li>
    <li><a href="{{ site.baseurl }}/CSA/data_structures/graph-heuristics/2025-05-22-graph-heuristics-searches">Searches</a></li>
    <li><a href="{{ site.baseurl }}/CSA/data_structures/graph-heuristics/2025-05-22-graph-heuristics-examples">Examples</a></li>
  </ul>
</nav>
