<!-- Placeholder submenu for Pair Programming; created to satisfy menu: nav/pair_programming.html references -->
<nav class="submenu">
  <ul>
    <li><a href="{{ site.baseurl }}/Foundation/A-agile_classroom/">Agile Classroom</a></li>
    <li><a href="{{ site.baseurl }}/Foundation/A-agile_classroom/2025-04-13-pair_programming">Pair Programming</a></li>
  </ul>
  <small>This is a placeholder include created to satisfy menu: nav/pair_programming.html</small>
  {% if include.html %}<div class="submenu-content">{{ include.html }}</div>{% endif %}
</nav>
<table>
    <tr>
        <td><a href="{{site.baseurl}}/pair/programming">Programming</a></td>
        <td><a href="{{site.baseurl}}/pair/habits">Habits</a></td>
        <td><a href="{{site.baseurl}}/pair/showcase">Showcase</a></td>
    </tr>
</table>