<!-- Placeholder submenu for Recursion (Unit 10); created to satisfy menu: nav/recursion.html references -->
<nav class="submenu">
  <ul>
    <li><a href="{{ site.baseurl }}/CSA/units_1_to_10/unit_10/">Unit 10 - Recursion</a></li>
  </ul>
  <small>This is a placeholder include created to satisfy menu: nav/recursion.html</small>
  {% if include.html %}<div class="submenu-content">{{ include.html }}</div>{% endif %}
</nav>
<table>
    <tr>
        <td><img src="https://github.com/user-attachments/assets/3f95fc8f-4f0a-4e98-a56b-fae8d5b37f77" height="60" title="Pair" alt=""></td>
        <td><a href="{{site.baseurl}}/recursion/part1">10.1</a></td>
        <td><a href="{{site.baseurl}}/recursion/part2">10.2</a></td>
       </tr>
</table>