<!-- Placeholder submenu for Team Teaching; created to satisfy menu: nav/teamteaching.html references -->
<nav class="submenu">
  <ul>
    <li><a href="{{ site.baseurl }}/CSA/sorting/">Sorting Team Teach</a></li>
  </ul>
  <small>This is a placeholder include created to satisfy menu: nav/teamteaching.html</small>
  {% if include.html %}<div class="submenu-content">{{ include.html }}</div>{% endif %}
</nav>
<table>
    <tr>
        <td><a href="{{site.baseurl}}/sortingTT/">Home Sorting Teach</a></td>
        <td><a href="{{site.baseurl}}/sortingTT/sorting/">Sorting Lesson</a></td>
        <td><a href="{{site.baseurl}}/sortingTT/sorting/hw/">Sorting Homework</a></td>
    </tr>
</table>