<!-- Placeholder submenu for Tools Setup; created to satisfy menu: nav/tools_setup.html references -->
<nav class="submenu">
  <ul>
    <li><a href="{{ site.baseurl }}/Foundation/B-tools_and_equipment/">Tools & Equipment</a></li>
  </ul>
  <small>This is a placeholder include created to satisfy menu: nav/tools_setup.html</small>
  {% if include.html %}<div class="submenu-content">{{ include.html }}</div>{% endif %}
</nav>
<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Tools" alt=""></td>
        <td><a href="{{site.baseurl}}/devops/tools/home">Home</a></td>
        <td><a href="{{site.baseurl}}/devops/tools/accounts">Accounts</a></td>
        <td><a href="{{site.baseurl}}/devops/tools/setup">Setup</a></td>
        <td><a href="{{site.baseurl}}/devops/tools/verify">Verify</a></td>
        <td><a href="{{site.baseurl}}/devops/github/pages/play">Play</a></td>
        <td><a href="{{site.baseurl}}/devops/hacks">Hacks</a></td>
    </tr>
</table>